// Logo
// font-family: 'Berkshire Swash', cursive;

// Headings
// font-family: 'Trykker', serif;

// Body Text
// font-family: 'Noto Sans', sans-serif;

$primary: #4F517D;
$secondary: #C2095A;
$logo: #E086D3;

// ************
//    RESETS
// ************
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: 'Noto Sans', sans-serif;
}

li { list-style: none; }


@media only screen and (min-width: 0) {
  // ************
  //   HEADER
  // ************
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 14px 20px;
    color: #fff;
    background-color: $primary;
    border-bottom: 2px solid #fff;
    
    h1 {
      font-size: 1rem;
      font-family: 'Berkshire Swash', cursive;
    }

    #nav-menu {
      display: flex;
      align-items: center;
    }

    #mobile-menu {
      display: none;
      position: absolute;
      top: 0;
      right: 0;
      font-size: 0.75rem;
      background: $primary;
      border-left: 2px solid #fff;
      border-bottom: 2px solid #fff;

      img {
        position: absolute;
        top: 14px;
        right: 20px;
      }

      ul {
        padding: 50px 60px 40px 30px;

        li {
          margin-bottom: 40px;
          cursor: pointer;

          &:last-child { margin-bottom: 0; }
        }
      }
    }

    #desktop-menu {
      display: none;
    }

    .cat-logo {
      position: absolute;
      bottom: -7px;
      left: 21px;
      width: 24.89px;
    }
  }

  // **********
  //    MAIN
  // **********
  section {
    h2 { font-family: 'Trykker', serif; }
  }

}