$logo-font: 'Berkshire Swash', cursive;
$heading-font: 'Trykker', serif;
$body-font: 'Noto Sans', sans-serif;

$primary: #4F517D;
$secondary: #C2095A;
$logo: #E086D3;
$logo-shadow: -3px 2px 0px rgba(0,0,0,0.25);
@mixin box-shadow-default() {
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.30);
  -moz-box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.30);
  box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.30);
}

// ************
//    RESETS
// ************
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: $body-font;
}

section {
  h2 { font-family: $heading-font; }
}

li { list-style: none; }

button {
  padding: 8px 14px;
  font-size: 0.625rem;
  color: #fff;
  background-color: $secondary;
  border: none;
  border-radius: 20px;
  @include box-shadow-default();
}


@media only screen and (min-width: 0) {
  // ************
  //   HEADER
  // ************
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 14px 20px;
    color: #fff;
    background-color: $primary;
    border-bottom: 2px solid #fff;
    
    h1 {
      font-size: 1.25rem;
      font-family: $logo-font;
      text-shadow: $logo-shadow;
    }

    #nav-menu {
      display: flex;
      align-items: center;
    }

    #mobile-menu {
      display: none;
      position: absolute;
      top: 0;
      right: 0;
      font-size: 0.75rem;
      background: $primary;
      border-left: 2px solid #fff;
      border-bottom: 2px solid #fff;

      img {
        position: absolute;
        top: 14px;
        right: 20px;
      }

      ul {
        padding: 50px 60px 40px 30px;

        li {
          margin-bottom: 40px;
          cursor: pointer;

          &:last-child { margin-bottom: 0; }
        }
      }
    }

    #desktop-menu {
      display: none;
    }

    .cat-logo {
      position: absolute;
      bottom: -7px;
      left: 21px;
      width: 24.89px;
    }
  }

  // **********
  //    MAIN
  // **********
  #hero {
    position: relative;
    margin-bottom: -1px;
    background-color: $primary;

    img {
      width: 100%;
    }

    .overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 99%;
      background-color: $primary;
      opacity: .4;
      mix-blend-mode: overlay;
    }
  }

  #welcome-cta {
    padding: 24px 0;
    font-family: $body-font;
    color: #fff;
    text-align: center;
    background-color: $primary;

    h2 {
      margin-bottom: 15px;
      font-size: 1.25rem;
      span {
        font-family: $logo-font;
        text-shadow: $logo-shadow;
      }
    }

    p {
      margin-bottom: 8px;
      font-size: 0.625rem;
    }
  }
}