$logo-font: 'Berkshire Swash', cursive;
$heading-font: 'Trykker', serif;
$body-font: 'Noto Sans', sans-serif;

$primary: #4F517D;
$secondary: #C2095A;
$logo: #E086D3;
$logo-shadow: -3px 2px 0px rgba(0,0,0,0.25);
@mixin box-shadow-default() {
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.30);
  -moz-box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.30);
  box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.30);
}

// ************
//    RESETS
// ************
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: $body-font;
}

li { list-style: none; }

button {
  padding: 8px 14px;
  font-size: 0.625rem;
  color: #fff;
  background-color: $secondary;
  border: none;
  border-radius: 20px;
  @include box-shadow-default();
}


@media only screen and (min-width: 0) {
  // ************
  //   HEADER
  // ************
  header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 14px 20px;
    color: #fff;
    background-color: $primary;
    border-bottom: 2px solid #fff;
    
    h1 {
      font-size: 1.25rem;
      font-family: $logo-font;
      text-shadow: $logo-shadow;
    }

    #nav-menu {
      display: flex;
      align-items: center;

      img {
        cursor: pointer;
      }
    }

    #mobile-menu {
      display: none;
      position: absolute;
      top: 0;
      right: 0;
      font-size: 0.75rem;
      background: $primary;
      border-left: 2px solid #fff;
      border-bottom: 2px solid #fff;

      img {
        position: absolute;
        top: 14px;
        right: 20px;
      }

      ul {
        padding: 50px 60px 40px 30px;

        li {
          margin-bottom: 40px;
          cursor: pointer;

          &:last-child { margin-bottom: 0; }
        }
      }
    }

    #desktop-menu {
      display: none;
      font-size: 0.75rem;
      ul {
        display: flex;
        margin-right: 15vw;

        li {
          margin-right: 30px;

          &:last-child { margin-right: 0; }
        }
      }

      .reserve-now-banner {
        position: absolute;
        right: 15px;
        top: 0;
        z-index: 1;
        width: 65px;
        padding: 16px 0;
        font-weight: bold;
        text-align: center;
        background-color: $secondary;
        border-radius: 0 0 5px 5px;
        cursor: pointer;
      }
    }

    .cat-logo {
      position: absolute;
      bottom: -7px;
      left: 21px;
      width: 24.89px;
    }
  }

  // **********
  //    MAIN
  // **********
  section {
    h2 { font-family: $heading-font; }
  }

  #hero {
    position: relative;
    background-color: $primary;
    overflow: hidden;

    img {
      width: 130%;
      min-height: 460px;
      max-height: 1177px;
      display: block;
      object-fit: cover;
    }

    .overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $primary;
      opacity: .4;
      mix-blend-mode: overlay;
    }
  }

  #welcome-cta {
    margin-bottom: 18vw;
    padding: 5.2vw 0;
    font-family: $body-font;
    color: #fff;
    text-align: center;
    background-color: $primary;

    h2 {
      margin-bottom: 15px;
      font-size: 1.25rem;
      span {
        font-family: $logo-font;
        text-shadow: $logo-shadow;
      }
    }

    p {
      margin-bottom: 8px;
      font-size: 0.625rem;
    }
    
    button {
      font-weight: 600;
    }
  }

  #features {
    max-width: 90%;
    margin: 0 auto 6rem;
    text-align: center;

    h2 {
      margin-bottom: 3.2rem;
    }

    .feature-container {
      overflow: hidden;
      width: 60vw;
      max-width: 225px;
      margin: 0 auto 40px;
      background-color: #4F517D;
      border-radius: 3px;
      @include box-shadow-default();

      &:last-child { margin-bottom: 0; }
    }

    .feature-graphic-container {
      position: relative;
      height: 90px;

      &::before, &::after {
        content: "";
        position: absolute;
        bottom: -1vh;
        width: 40vw;
        height: 130%;
        background-color: #fff;
      }

      &::before {
        right: 50%;
        transform: rotateZ(11.61deg) translateX(11%);
      }

      &::after {
        left: 50%;
        transform: rotateZ(-11.61deg) translateX(-11%);
      }

      .feature-rectangle {
        position: absolute;
        width: 60vw;
        height: 120%;
        background-color: white;
      }

      img {
        position: absolute;
        left: 50%;
        bottom: -5px;
        transform: translateX(-50%);
        z-index: 1;
        width: 120px;
      }
    }

    .feature-text-container {
      max-width: 250px;
      margin: 0 auto;
      padding: 10vw 25px 5vw;
      font-size: 0.75rem;
      color: #fff;
    }
  }

  #meet-cats {
    max-width: 300px;
    margin: 0 auto 6rem;
    text-align: center;

    h2 { margin-bottom: 3.2rem; }

    .cat-info {
      display: flex;
      position: relative;
      margin-left: 20%;
      margin-bottom: 2.5rem;
    }

    .img-container {
      width: 118px;
      height: 118px;
      position: relative;
      z-index: 1;
      border: 4px solid #fff;
      border-radius: 100%;
      -webkit-box-shadow: 0px 4px 10px 1px rgba(0,0,0,0.30);
      -moz-box-shadow: 0px 4px 10px 1px rgba(0,0,0,0.30);
      box-shadow: 0px 4px 10px 1px rgba(0,0,0,0.30);
      
      img {
        width: 110px;
      }
    }

    .name-container {
      align-self: flex-end;
      position: absolute;
      left: 20%;
      width: 140px;
      padding: 10px 20px;
      font-weight: 600;
      text-align: right;
      color: #fff;
      background-color: $primary;
      border-radius: 8px;
    }
  }

  #events {
    margin: 0 40px 6rem;
    text-align: center;

    h2 { margin-bottom: 3.2rem; }

    .event-container {
      position: relative;
      max-width: 250px;
      margin: 0 auto 40px;
      padding: 20px 0;
      border-radius: 5px;
      @include box-shadow-default();

      .event-img {
        position: relative;
        width: 130px;
        margin: 0 auto 18px;

        img {
          width: 130px;
          height: 130px;
        }

        p {
          position: absolute;
          right: 0;
          bottom: 0;
          width: 52px;
          padding: 6px 0;
          font-size: 0.625rem;
          background: #fff;
          border-radius: 16px;
          @include box-shadow-default();
        }
      }
      
      .event-description {
        padding: 0 30px;

        p:first-child {
          margin-bottom: 3.5vw;
          font-size: 0.9rem;
          font-weight: bold;
        }

        p:nth-child(2) {
          margin-bottom: 6vw;
          font-size: 0.75rem;
        }
      }

      h3 {
        margin-bottom: 12px;
        font-family: $heading-font;
      }

      button {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 12px 0;
        font-size: 0.9rem;
        font-weight: 600;
        border-radius: 0 0 5px 5px;
      }
    }
  }

  #gallery {
    margin: 0 auto 6rem;
    text-align: center;

    h2 { margin-bottom: 3.2rem; }

    .gallery-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      img {
        width: 50%;
        max-width: 185px;
        border-top: 2px solid #fff;

        &:nth-last-child(-n+2) {
          border-bottom: 2px solid #fff;
        }

        &:nth-child(odd) {
          border-left: 2px solid #fff;
        }
        
        &:nth-child(even) {
          border-right: 2px solid #fff;
        }
        
        &:nth-child(2n+1) {
          border-right: 2px solid #fff;
        }
      }
    }
  }

  #testimonials {
    position: relative;
    max-width: 90%;
    margin: 0 auto 8.5rem;
    text-align: center;

    h2 { margin-bottom: 3.2rem; }

    .testimonial {
      max-width: 250px;
      margin: 0 auto;

      &:nth-child(3), &:nth-child(4) {
        display: none;
      }
    }

    .author-info {
      img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        -webkit-box-shadow: 0px 4px 13px 0px rgba(0,0,0,0.30);
        -moz-box-shadow: 0px 4px 13px 0px rgba(0,0,0,0.30);
        box-shadow: 0px 4px 13px 0px rgba(0,0,0,0.30);
      }

      p {
        margin-bottom: 18px;
      }
    }

    .testimonial-review {
      position: relative;
      margin: 0 auto 40px;
      font-size: 0.75rem;
      font-style: italic;
      color: #595959;

      .review-stars {
        margin-bottom: 18px;

        img { width: 16px; }
      }
    }

    #testimonial-controls {
      .testimonial-control {
        position: absolute;
        top: 60%;
        transform: translateY(60%);
        cursor: pointer;
      }

      .prev-testimonial { left: 5%; }
      .next-testimonial { right: 5%; }
    }

    .testimonial-progress {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      display: flex;
      justify-content: space-between;
      width: 60px;

      div {
        width: 9px;
        height: 9px;
        border: 1px solid #ccc;
        border-radius: 50%;
      }

      #active-testimonial {
        background-color: #ccc;
      }
    }
  }

  #reserve-now {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 10vw;
    margin: 0 auto 6rem;
    padding: 65px 8vw;
    color: #fff;
    background-image: url('../img/reserve/reserve-cat-bg.png');
    background-position: center;
    background-size: cover;
    background-color: #67B6FF;
    background-blend-mode: multiply;

    h2 {
      flex: 1 1 100%;
      margin-bottom: 3.8rem;
      text-align: center;
    }

    .reservation-option {
      position: relative;
      z-index: 1;
      width: 190px;
      margin: 0 auto;

      &:nth-child(2) {
        margin-bottom: 75px;
      }
        
      p:first-child {
        margin-bottom: 24px;
        font-weight: 600;
      }

      p:nth-child(2) {
        margin-bottom: 36px;
        font-size: 0.75rem;
      }

      button {
        padding: 10px 24px;
        font-size: 0.75rem;
      }
    }
  }

  #contact-us {
    margin: 0 auto 6rem;
    width: 170px;
    
    h2 {
      margin-bottom: 3.2rem;
      text-align: center;
    }

    form {
      div {
        margin-bottom: 15px;

        label {
          display: block;
          margin-bottom: 3px;
          font-size: 0.625rem;
        }

        input, textarea {
          width: 100%;
          padding: 5px;
          font-size: 0.625rem;
          background-color: #F5F5F5;
          border: none;
        }

        &:nth-last-child(2) {
          margin-bottom: 27px;
        }
      }

      button {
        width: 100%;
        font-size: 0.9rem;
      }
    }
  }

  footer {
    padding: 63px 0;
    text-align: center;
    color: #fff;
    background-color: $primary;

    #newsletter {
      width: 190px;
      margin: 0 auto;

      h3 {
        margin-bottom: 12px;
        font-size: 0.9rem;
      }
      
      form {
        margin-bottom: 60px;

        div {
          margin-bottom: 15px;
          
          label {
            display: block;
            margin-bottom: 3px;
            font-size: 0.625rem;
            text-align: left;
           }

           input {
            width: 100%;
            padding: 5px;
            font-size: 0.625rem;
            background-color: #F5F5F5;
            border: none;
           }
        }

        button {
          width: 100%;
          font-size: 0.9rem;
        }
      }
    }

    .links {
      margin-bottom: 60px;
      font-size: 0.75rem;

      ul {
        li {
          margin-bottom: 15px;
          cursor: pointer;

          &:last-child { margin-bottom: 0; }
        }
      }
    }
    
    .company-info {
      p:first-child {
        margin-bottom: 2px;
        font-size: 1.5rem;
        font-family: $logo-font;
        text-shadow: $logo-shadow;
      }

      p:nth-child(n+2) { font-size: 0.75rem; }
      p:nth-child(3) { margin-bottom: 10px; }
      img { width: 25px; }
    }
  }
}

@media only screen and (min-width: 640px) {
  header {
    h1 { margin-left: 4.8vw; }
    #mobile-menu-icon { display: none; }
    #desktop-menu { display: block; }
    .cat-logo {
      bottom: -11px;
      left: 10px;
      width: 40px;
    }
  }

  #welcome-cta {
    margin-bottom: 15.8vw;

    h2 { font-size: 1.75rem; }
    p { font-size: 0.75rem; }
    
    button {
      font-size: 0.9rem;
      padding: 13px 15px;
    }
  }

  #features {
    display: flex;
    flex-wrap: wrap;
    max-width: 90%;
    margin-bottom: 9.4rem;

    h2 {
      flex: 1 1 100%;
      margin-bottom: 60px;
      font-size: 1.75rem;
    }

    .feature-container {
      overflow: hidden;
      width: calc(90% / 3);
      margin-bottom: 0;
    }
  }

  #meet-cats {
    max-width: 90%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 9.4rem;

    h2 {
      flex: 1 1 100%;
      margin-bottom: 60px;
      font-size: 1.75rem;
    }

    .cat-info {
      display: flex;
      justify-content: center;
      flex-basis: 45%;
      margin-left: 0;
    }

    .img-container {
      width: 148px;
      height: 148px;
      
      img { width: 140px; }
    }

    .name-container { left: 50%; }
  }

  #events {
    display: flex;
    flex-wrap: wrap;
    max-width: 80%;
    margin: 0 auto 9.4rem;
    
    h2 {
      flex: 1 1 100%;
      margin-bottom: 60px;
      font-size: 1.75rem;
    }

    .event-container {
      max-width: calc(95% / 3);
      margin: 0 auto;

      .event-description { max-width: 250px; }
    }
  }

  #gallery {
    margin-bottom: 9.4rem;
    
    h2 {
      margin-bottom: 60px;
      font-size: 1.75rem;
    }

    .gallery-container {
      max-width: 90%;
      margin: 0 auto;

      img { max-width: calc(90% / 4); }
    }
  }

  #testimonials {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 9.4rem;

    h2 {
      flex: 1 1 100%;
      margin-bottom: 60px;
      font-size: 1.75rem;
    }

    .testimonial {
      padding: 30px 27px 5px;
      border-radius: 5px;
      @include box-shadow-default();

      &:nth-child(3) {
        display: block;
        margin-left: 30px;
      }
    }

    .author-info {
      img { margin-bottom: 10px; }
      p { margin-bottom: 21px; }
    }

    #testimonial-controls {
      .prev-testimonial { left: -20px; }
      .next-testimonial { right: -20px; }
    }

    .testimonial-progress {
      bottom: -50px;
      width: 40px;

      div {
        width: 10px;
        height: 10px;
      }

      div:nth-child(3) {
        display: none;
      }
    }
  }

  #reserve-now {
    margin-bottom: 9.4rem;
    padding-top: 80px;
    padding-bottom: 100px;
    gap: 0;
    
    h2 {
      margin-bottom: 60px;
      font-size: 1.75rem;
    }

    .reservation-option {
      height: 255px;

      &:nth-child(2), &:nth-child(3) {
        display: flex;
        flex-direction: column;
        margin-bottom: 0;
  
        button {
          align-self: flex-start;
          margin-top: auto;
          font-size: 0.9rem;
          padding: 10px 28px;
        }
      }

      p:nth-child(2) { font-size: 0.9rem; }
    }
  }
  
  #contact-us {
    margin-bottom: 9.4rem;
    width: 393px;

    h2 {
      margin-bottom: 60px;
      font-size: 1.75rem;
    }

    form {
      display: flex;
      flex-wrap: wrap;

      div {
        flex: 1 1 45%;

        label { font-size: 0.9rem; }
        input, textarea { font-size: 0.9rem; }
        &:nth-child(2n+1) { margin-right: 20px; }

        &:nth-last-child(2) {
          flex: 1 1 100%;
          margin-right: 0;
          margin-bottom: 50px;
        }
      }

      button {
        width: 40%;
        margin: 0 auto;
        padding: 10px 48px;
        font-size: 0.9rem;
      }
    }
  }

  footer {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;

    #newsletter {
      width: 210px;
      margin: 0;

      h3 { font-size: 1rem; }

      form {
        margin-bottom: 0;

        div {
          label { font-size: 0.9rem; }
          input { font-size: 0.9rem; }
        }
      }
    }

    .links > ul > li {
      margin-bottom: 20px;
      font-size: 0.9rem;
      text-align: left;

      &:last-child { margin-bottom: 0; }
    }

    .company-info {
      p:first-child { margin-bottom: 3px; }
      p:nth-child(n+2) { text-align: left; }
      p:nth-child(3) { margin-bottom: 25px; }
      img { width: 50px; }
    }
  }
}

@media only screen and (min-width: 860px) {
  header {
    h1 {
      margin-left: 6.8vw;
      font-size: 1.9rem;
    }
    #mobile-menu-icon { display: none; }
    #desktop-menu {
      font-size: 1rem;

      ul > li { margin-right: 50px; }

      .reserve-now-banner {
        right: 15px;
        top: 0;
        width: 85px;
        padding: 20px 0;
      }
    }

    .cat-logo {
      bottom: -16px;
      left: 15px;
      width: 60px;
    }
  }

  #welcome-cta {
    margin-bottom: 15.8vw;

    h2 {
      margin-bottom: 1.25rem;
      font-size: 2.6rem;
    }
    p {
      margin-bottom: 0.75rem;
      font-size: 0.9rem;
    }
    
    button { font-size: 1rem; }
  }

  #features {
    max-width: 1000px;
    margin-bottom: 12.5rem;

    h2 { font-size: 2rem; }
    .feature-container { max-width: 250px; }

    .feature-graphic-container > img {
      left: 50%;
      bottom: -40px;
      transform: translateX(-50%);
      width: 160px;
    }

    .feature-text-container { font-size: 0.9rem; }
  }

  #meet-cats {
    max-width: 1000px;
    margin-bottom: 12.5rem;

    h2 { font-size: 2rem; }

    .cat-info {
      flex-basis: 45%;
    }

    .img-container {
      width: 208px;
      height: 208px;
      
      img { width: 200px; }
    }

    .name-container {
      width: 200px;
      padding-right: 30px;
      font-size: 1.5rem;
    }
  }

  #events {
    max-width: 1000px;
    margin-bottom: 12.5rem;
    
    h2 { font-size: 2rem; }

    .event-container {
      max-width: calc(95% / 3);
      padding: 28px 50px;

      .event-img {
        width: 187px;
        margin: 0 auto 25px;

        img {
          width: 187px;
          height: 187px;
        }

        p {
          width: 74px;
          padding: 8px 0;
          font-size: 0.9rem;
        }
      }

      .event-description {
        padding: 0 20px;

        p:first-child {
          margin-bottom: 14px;
          font-size: 1rem;
        }

        p:nth-child(2) {
          margin-bottom: 35px;
          font-size: 0.9rem;
        }
      }
    }
  }

  #gallery {
    margin-bottom: 12.5rem;
    h2 { font-size: 2rem; }

    .gallery-container { max-width: 1000px; }
  }

  #testimonials {
    margin-bottom: 12.5rem;
    max-width: 1000px;
    h2 { font-size: 2rem; }

    .testimonial {
      flex-basis: calc(100% / 3);
      max-width: 290px;
      padding: 30px 27px 5px;

      &:nth-child(3) { margin: 0; }
      &:nth-child(4) {
        display: block;
      }
    }

    .author-info {
      img {
        margin-bottom: 13px;
        width: 125px;
        height: 125px;
      }

      p {
        margin-bottom: 21px;
        font-size: 1.25rem;
      }
    }

    .testimonial-review { font-size: 0.9rem; }

    #testimonial-controls { display: none; }
    .testimonial-progress { display: none; }
  }

  #reserve-now {
    margin-bottom: 12.5rem;
    padding-top: 80px;
    padding-bottom: 136px;
    
    h2 { font-size: 2rem; }

    .reservation-option {
      width: 280px;
      height: 280px;

      &:nth-child(2), &:nth-child(3) {
        p:first-child {
          margin-bottom: 22px;
          font-size: 1.5rem;
        }

        p:nth-child(2) {
          margin-bottom: 70px;
          font-size: 1rem;
        }
  
        button { font-size: 1rem; }
      }

      p:nth-child(2) {
        font-size: 0.9rem;
      }
    }
  }
  
  #contact-us {
    margin-bottom: 12.5rem;
    width: 423px;

    h2 { font-size: 2rem; }

    form {
      div {
        flex-basis: 35%;

        label, input, textarea { font-size: 1rem; }
        &:nth-child(2n+1) { margin-right: 63px; }
        &:nth-last-child(2) { margin-right: 0; }
      }

      button {
        width: 40%;
        margin: 0 auto;
        padding: 12px 48px;
        font-size: 1rem;
      }
    }
  }

  footer {
    padding-left: 5vw;
    padding-right: 5vw;

    #newsletter {
      width: 270px;
      margin: 0;

      h3 { font-size: 1.25rem; }

      form {
        div > label, input { font-size: 1rem; }

        button { font-size: 1rem; }
      }
    }

    .links > ul > li {
      margin-bottom: 24px;
      font-size: 1rem;
    }

    .company-info {
      p:first-child {
        margin-bottom: 8px;
        font-size: 2.5rem;
      }

      p:nth-child(n+2) {
        margin-bottom: 2px;
        font-size: 1rem;
        text-align: left;
      }

      p:nth-child(3) { margin-bottom: 25px; }
      img { width: 85px; }
    }
  }
}